@CHARSET "ISO-8859-1";



 html, body, #map {
        height: 80%;
        width: 70%;
        margin: 2px;
        padding: px
      }
        
        h3{
    	color:red;
        }
        
@media screen and (max-device-width: 640px) {
  html, body, #searchbar, #parsed{
        width: 300px;
        margin: 2px;
        padding: 1px
      }
      
     #map{
     height:60%;
     width: 60%;
     }
}
     