@CHARSET "ISO-8859-1";



@media screen and (max-device-width: 640px) {
  html, body, #map {
        width: 450px;
        margin: 2px;
        padding: 1px
      }
      
   h1{
   color: red;
   }  
      
  }